<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheWayShop</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">



    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/custom.css">

</head>
<body style="margin:0px;overflow:visible">
    <div class="wrapper">
        <div class="main-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="text-slid-box">
                            <div id="offer-box" class="carouselTicker">
                                <ul class="offer-box" style="direction: ltr; font-size: 13px; color: rgb(255, 255, 255); font-family: Montserrat, sans-serif;">








                                    <li style="">
                                        <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                                    </li>
                                    <li style="display: none;">
                                        <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                                    </li>
                                    <li style="display: none;">
                                        <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                    </li>
                                    <li style="display: none;">
                                        <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                    </li>
                                    <li style="display: none;">
                                        <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                                    </li>
                                    <li style="display: none;">
                                        <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                                    </li>
                                    <li style="display: none;">
                                        <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                    </li>
                                    <li style="display: none;">
                                        <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="custom-select-box">
                            <div class="btn-group bootstrap-select show-tick form-control">
                                <button type="button" class="btn dropdown-toggle btn-default btn-light" data-toggle="dropdown" role="button" data-id="basic" title="¥ JPY">
                                    <span class="filter-option pull-left">¥ JPY</span>
                                    &nbsp;
                                    <span class="bs-caret">
                                        <span class="caret">

                                        </span>
                                    </span>
                                </button>
                                <div class="dropdown-menu open" role="combobox">
                                    <div class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                        <a tabindex="0" class="dropdown-item selected" data-original-index="0">
                                            <span class="dropdown-item-inner " data-tokens="null" role="option" tabindex="0" aria-disabled="false" aria-selected="true">
                                                <span class="text">¥ JPY</span>
                                                <span class="fa fa-check check-mark">
                                                </span>
                                            </span>
                                        </a>
                                        <a tabindex="0" class="dropdown-item" data-original-index="1">
                                            <span class="dropdown-item-inner " data-tokens="null" role="option" tabindex="0" aria-disabled="false" aria-selected="false">
                                                <span class="text">$ USD</span>
                                                <span class="fa fa-check check-mark">
                                                </span>
                                            </span>
                                        </a>
                                        <a tabindex="0" class="dropdown-item" data-original-index="2">
                                            <span class="dropdown-item-inner " data-tokens="null" role="option" tabindex="0" aria-disabled="false" aria-selected="false">
                                                <span class="text">€ EUR</span>
                                                <span class="fa fa-check check-mark"></span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD" tabindex="-98">
                                    <option>$ USD</option>
                                    <option>€ EUR</option>
                                </select>
                            </div>
                        </div>
                        <div class="right-phone-box">
                            <p>Call US :- <a href="#"> +11 900 800 100</a></p>
                        </div>
                        <div class="our-link">
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Our location</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="main-header">
            <!-- Start Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav on no-full">
                <div class="container">
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                            <img src="~/images/logo.png" class="logo" alt="">
                        </a>
                    </div>
                    <!-- End Header Navigation -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="About">About Us</a>
                            </li>
                            <li class="dropdown megamenu-fw">
                                <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Product</a>
                                <ul class="dropdown-menu megamenu-content animated fadeOutUp" role="menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Top</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li><a href="shop.html">Jackets</a></li>
                                                        <li><a href="shop.html">Shirts</a></li>
                                                        <li><a href="shop.html">Sweaters &amp; Cardigans</a></li>
                                                        <li><a href="shop.html">T-shirts</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Bottom</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li><a href="shop.html">Swimwear</a></li>
                                                        <li><a href="shop.html">Skirts</a></li>
                                                        <li><a href="shop.html">Jeans</a></li>
                                                        <li><a href="shop.html">Trousers</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Clothing</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li><a href="shop.html">Top Wear</a></li>
                                                        <li><a href="shop.html">Party wear</a></li>
                                                        <li><a href="shop.html">Bottom Wear</a></li>
                                                        <li><a href="shop.html">Indian Wear</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Accessories</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li><a href="shop.html">Bags</a></li>
                                                        <li><a href="shop.html">Sunglasses</a></li>
                                                        <li><a href="shop.html">Fragrances</a></li>
                                                        <li><a href="shop.html">Wallets</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                        </div>
                                        <!-- end row -->
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                                <ul class="dropdown-menu animated">
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="shop-detail.html">Shop Detail</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="service.html">Our Service</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav">
                        <ul>
                            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                            <li class="side-menu">
                                <a href="#">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="badge">3</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->
                </div>
                <!-- Start Side Menu -->
                <div class="side">
                    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                    <li class="cart-box">
                        <ul class="cart-list">
                            <li>
                                <a href="#" class="photo"><img src="images/img-pro-01.jpg" class="cart-thumb" alt=""></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p>1x - <span class="price">$80.00</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="images/img-pro-02.jpg" class="cart-thumb" alt=""></a>
                                <h6><a href="#">Omnes ocurreret</a></h6>
                                <p>1x - <span class="price">$60.00</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="images/img-pro-03.jpg" class="cart-thumb" alt=""></a>
                                <h6><a href="#">Agam facilisis</a></h6>
                                <p>1x - <span class="price">$40.00</span></p>
                            </li>
                            <li class="total">
                                <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                                <span class="float-right"><strong>Total</strong>: $180.00</span>
                            </li>
                        </ul>
                    </li>
                </div>
                <!-- End Side Menu -->
            </nav>
            <!-- End Navigation -->
        </header>
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>

        @RenderBody()

        <footer>
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-widget">
                                <h4>About ThewayShop</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-link">
                                <h4>Information</h4>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Customer Service</a></li>
                                    <li><a href="#">Our Sitemap</a></li>
                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-link-contact">
                                <h4>Contact Us</h4>
                                <ul>
                                    <li>
                                        <p><i class="fas fa-map-marker-alt"></i>Address: Michael I. Days 3756 <br>Preston Street Wichita,<br> KS 67213 </p>
                                    </li>
                                    <li>
                                        <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+1-888 705 770</a></p>
                                    </li>
                                    <li>
                                        <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="footer-copyright">
            <p class="footer-company">
                DimKob Soft  All Rights Reserved. © 2021 <a href="#">ThewayShop</a> Design By :
                <a href="https://html.design/">html design</a>
            </p>
        </div>

        @*All JS Files*@
        <script src="~/js/jquery-3.2.1.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        @*All plugins*@
        <script src="~/js/jquery.superslides.min.js"></script>
        <script src="~/js/bootstrap-select.js"></script>
        <script src="~/js/inewsticker.js"></script>
        <script src="~/js/bootsnav.js."></script>
        <script src="~/js/images-loded.min.js"></script>
        <script src="~/js/isotope.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/baguetteBox.min.js"></script>
        <script src="~/js/form-validator.min.js"></script>
        <script src="~/js/contact-form-script.js"></script>
        <script src="~/js/custom.js"></script>
        <div role="dialog" id="baguetteBox-overlay">
            <div id="baguetteBox-slider">
            </div>
            <button type="button" id="previous-button" aria-label="Previous" class="baguetteBox-button">
                <svg width="44" height="60">
                    <polyline points="30 10 10 30 30 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt" fill="none" stroke-linejoin="round">

                    </polyline>
                </svg>
            </button>
            <button type="button" id="next-button" aria-label="Next" class="baguetteBox-button">
                <svg width="44" height="60">
                    <polyline points="14 10 34 30 14 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt" fill="none" stroke-linejoin="round"></polyline>
                </svg>
            </button>
            <button type="button" id="close-button" aria-label="Close" class="baguetteBox-button">
                <svg width="30" height="30">
                    <g stroke="rgb(160,160,160)" stroke-width="4">
                        <line x1="5" y1="5" x2="25" y2="25"></line>
                        <line x1="5" y1="25" x2="25" y2="5"></line>
                    </g>
                </svg>
            </button>
        </div>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
